@import "tailwindcss";
@source "../views";

* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  width: 100%;
}

.btn-logout {
  background: #ef4444;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 0.375rem;
  transition: background 0.3s;
}

.btn-logout:hover {
  background: #dc2626;
}